<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ログイン</title>
</head>
<body>
 <form method="POST" action="User">
    {% csrf_token %}
   <div class="title">
    <a href="Sign_up">Sign_up</a>
   </div>
     <div class="rogo">
            <img src="#" alt="ロゴ">
            <h2 class="rogo_text">勤怠管理システム</h2>
     </div>
     <div class="textviews">
           <div class="username_text">
               <label for="UserName">ユーザ</label>
               <input type="text" name="UserName" class="User" required="required" />
           </div>

           <div class="password_text">
               <label for="Pass">パスワード</label>
               <input type="text" name="Pass" class="Pass" required="required" />
           </div>

               <div class="button_submit">
                   <button class="login">ログイン</button>
               </div>
       </div>
 </form>

</body>
</html>