<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign_up</title>
</head>
<body>
 <!-- 後から消す画面 -->
   <form method="POST">
   {% csrf_token %}
    <div class="title">
       <a href="management/Login">Login</a>
    </div>
       <div class="textviews">
           <div class="username_text">
               <label for="UserName">ユーザ</label>
               <input type="text" name="UserName" class="User" required="required" />
           </div>

           <div class="password_text">
               <label for="Pass">パスワード</label>
               <input type="text" name="Pass" class="Pass" required="required" />
           </div>
               <div class="button_submit">
                   <button type="submit" class="save">登録</button>
               </div>
       </div>
   </form>

</body>
</html>